@tailwind base;
@tailwind components;
@tailwind utilities;


/* Recoleta Black */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Black.woff2') format('woff2'),
       url('/fonts/Recoleta-Black.woff') format('woff'),
       url('/fonts/Recoleta-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Recoleta Bold */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Bold.woff2') format('woff2'),
       url('/fonts/Recoleta-Bold.woff') format('woff'),
       url('/fonts/Recoleta-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Recoleta Semibold */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Semibold.woff2') format('woff2'),
       url('/fonts/Recoleta-Semibold.woff') format('woff'),
       url('/fonts/Recoleta-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Recoleta Medium */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Medium.woff2') format('woff2'),
       url('/fonts/Recoleta-Medium.woff') format('woff'),
       url('/fonts/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Recoleta Regular */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Regular.woff2') format('woff2'),
       url('/fonts/Recoleta-Regular.woff') format('woff'),
       url('/fonts/Recoleta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Recoleta Thin */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Thin.woff2') format('woff2'),
       url('/fonts/Recoleta-Thin.woff') format('woff'),
       url('/fonts/Recoleta-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


h1, textpath {
  font-family: 'Recoleta', sans-serif;
  font-size: 30px;
}

p,h3,h4,h5,h6 {
  font-family: 'Inter', sans-serif;
  
}

body{
  @apply selection:bg-primary selection:text-light
}



/* about */
#about p{
  font-size: 20px;
  color: #f6f6e9;
}

#about h1{

  color: #f8e894;
}


@media (min-width: 600px) {
  #about div {
    margin: 0 5vw 0;
  }
  .helpOrSponsor{
    padding-left: 5vw;
  }
}
@media (max-width: 600px) {
  
  .helpOrSponsor{
    padding-left: 0;
  }
}

@layer base {
html {
  @apply scroll-smooth;
}
}

