@tailwind base;
@tailwind components;
@tailwind utilities;

/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Montserrat Bold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff"),
    url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Montserrat Light */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.woff2") format("woff2"),
    url("/fonts/Montserrat-Light.woff") format("woff"),
    url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Montserrat Medium */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/Montserrat-Medium.woff") format("woff"),
    url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Montserrat SemiBold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Montserrat Thin */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.woff2") format("woff2"),
    url("/fonts/Montserrat-Thin.woff") format("woff"),
    url("/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Recoleta Black */
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Black.woff2") format("woff2"),
    url("/fonts/Recoleta-Black.woff") format("woff"),
    url("/fonts/Recoleta-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Recoleta Bold */
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Bold.woff2") format("woff2"),
    url("/fonts/Recoleta-Bold.woff") format("woff"),
    url("/fonts/Recoleta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Recoleta Semibold */
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Semibold.woff2") format("woff2"),
    url("/fonts/Recoleta-Semibold.woff") format("woff"),
    url("/fonts/Recoleta-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Recoleta Medium */
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Medium.woff2") format("woff2"),
    url("/fonts/Recoleta-Medium.woff") format("woff"),
    url("/fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Recoleta Regular */
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Regular.woff2") format("woff2"),
    url("/fonts/Recoleta-Regular.woff") format("woff"),
    url("/fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Recoleta Thin */
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Thin.woff2") format("woff2"),
    url("/fonts/Recoleta-Thin.woff") format("woff"),
    url("/fonts/Recoleta-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

h1,
textpath {
  font-family: "Recoleta", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

p,
a,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  @apply selection:bg-primary selection:text-light;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
